/**
 * VARIAVEIS
 */
.post-footer-bottom button, header .box-right ul li.profile a, header .box-right ul li.home a, header .box-right ul li.create-page a, header .box-right ul li.profile, header .box-right ul li.home, header .box-right ul li.create-page, header .box-right ul, header .box-left form, header, .todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-post-content, .aside-left ul li a i, .aside-left ul li a, .aside-left ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aside-right .stories-container, .post, .new-post, .aside-left ul li:hover, .aside-left ul li.active {
  border-radius: 2px;
  border: 0.5px solid #e4e4e4;
}

.post-footer-bottom button, .post-content-link a .post-content-link-footer .box-right button, .post-content-link a .post-content-link-footer .box-right, .post-header button, .new-post-footer button {
  border: none;
  background: transparent;
}

.aside-right .stories-container .stories-header a, .aside-left ul li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.d-none {
  display: none;
}

body {
  background: #E9EBEE;
}

.todo {
  display: flex;
  justify-content: center;
  margin: 10px 15%;
  align-items: flex-start;
}

header {
  height: 44px;
  background: #4267B2;
  width: 100%;
  justify-content: space-between;
  padding: 0px 15%;
}
header .box-left {
  display: flex;
  align-items: center;
}
header .box-left i {
  color: white;
  font-size: 28px;
  margin-right: 8px;
}
header .box-left form input[type=text] {
  border-radius: 2px;
  border: none;
  padding: 4.8px;
  width: 400px;
  outline: none;
}
header .box-left form button {
  text-align: center;
  margin-left: -50px;
  background: #f5f6f7;
  border: none;
  width: 50px;
  height: 24px;
  border-radius: 0px 2px 2px 0px;
}
header .box-left form button:hover {
  background: #EBEDF0 !important;
  cursor: pointer;
}
header .box-left form button i {
  color: #4E5665;
  font-size: 16px;
  padding: 2px;
  margin: 0;
}
header .box-right ul {
  list-style-type: none;
}
header .box-right ul li + li::before {
  content: "|";
  color: #3b5ca0;
}
header .box-right ul li.profile, header .box-right ul li.home, header .box-right ul li.create-page {
  border-radius: 2px;
  height: 28px;
}
header .box-right ul li.profile a, header .box-right ul li.home a, header .box-right ul li.create-page a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 5px 10px;
}
header .box-right ul li.profile a img, header .box-right ul li.home a img, header .box-right ul li.create-page a img {
  border-radius: 30px;
  width: 24px;
  height: 24px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 5px;
}
header .box-right ul li.profile:hover, header .box-right ul li.home:hover, header .box-right ul li.create-page:hover {
  background: #3B5CA0;
}
header .box-right ul li.actions a {
  text-decoration: none;
  margin: 0px 5px;
  color: #1a2947;
}
header .box-right ul li.actions a i {
  font-size: 18px;
}

.aside-left {
  width: 20%;
}
.aside-left ul {
  list-style-type: none;
  margin-left: -5px;
}
.aside-left ul li + li {
  margin-top: 1px;
}
.aside-left ul li {
  border: 0.5px solid transparent;
}
.aside-left ul li a {
  padding: 2px 5px;
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 12px;
}
.aside-left ul li a img {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 5px;
  margin-left: 0px;
}
.aside-left ul li a i {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-size: 16px;
  color: gray;
}
.aside-left ul li span.interactive-btn {
  float: right;
  margin-right: 5px;
  color: grey;
}
.aside-left ul li span.interactive-btn .info {
  font-size: 10px;
}
.aside-left ul li span.interactive-btn span.menu {
  font-size: 10px;
}
.aside-left ul li span.interactive-btn:hover span.info {
  display: none;
}
.aside-left ul li span.interactive-btn:hover span.menu {
  display: block;
  cursor: pointer;
}
.aside-left ul li.active {
  background: #F5F6F7;
  font-weight: bold;
}
.aside-left ul li:hover {
  background: #F5F6F7;
}
.aside-left ul .title {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  color: #5a5a5a;
  letter-spacing: 0.5px;
}
.aside-left ul .title a.shortcut-edit-btn {
  font-weight: 100;
  font-size: 12px;
  float: right;
  display: none;
  text-decoration: none;
}
.aside-left ul .title:hover > .shortcut-edit-btn {
  display: block;
}
.aside-left ul + ul {
  margin-top: 10px;
}

.posts-container {
  width: 50%;
  margin: 0px 10px;
}

.new-post {
  border-radius: 4px;
  background: white;
  overflow: hidden;
  border-color: #DDDFE2;
  border-style: solid;
  border-width: 1px;
}
.new-post-header {
  background: #F5F6F7;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: #4B4F56;
  border-bottom-color: #DDDFE2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.new-post-content {
  padding: 10px;
  border-bottom-color: #DDDFE2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.new-post-content img {
  border-radius: 30px;
  width: 32px;
  height: 32px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 0px;
}
.new-post-content form {
  width: 100%;
}
.new-post-content input[type=text] {
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
}
.new-post-footer {
  padding: 10px;
}
.new-post-footer button {
  border-radius: 15px;
  padding: 8px;
  background: #EBEDF0;
  font-size: 12px;
}
.new-post-footer button i {
  color: grey;
}
.new-post-footer button:hover {
  background: #f5f6f7;
  cursor: pointer;
}

.post {
  margin-top: 10px;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  border-color: #DDDFE2;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}
.post-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: #4B4F56;
}
.post-header img {
  border-radius: 30px;
  width: 32px;
  height: 32px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 5px;
}
.post-header .box a {
  text-decoration: none;
  color: #365899;
}
.post-header .box a:hover {
  text-decoration: underline;
}
.post-header .box .box-date span.post-at {
  font-size: 10px;
}
.post-header .box .box-date span.post-at::after {
  content: "*";
  color: black;
  font-size: 5px;
}
.post-header .box .box-date span.icon {
  font-size: 12px;
}
.post-header button {
  align-self: flex-start;
  margin-left: auto;
  color: #4B4F56;
  cursor: pointer;
}
.post-content-text {
  font-size: 14px;
  padding: 0px 10px;
}
.post-content-link {
  width: 100%;
  background: #EAEAED;
  margin-top: 10px;
}
.post-content-link a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
}
.post-content-link a img {
  width: 100%;
  max-height: 40%;
  background-size: cover;
  opacity: 0.95;
}
.post-content-link a img:hover {
  opacity: 1;
}
.post-content-link a .post-content-link-footer {
  display: flex;
  padding: 10px;
}
.post-content-link a .post-content-link-footer .box-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-content-link a .post-content-link-footer .box-left h6 {
  color: #404040;
}
.post-content-link a .post-content-link-footer .box-left h5 {
  color: black;
}
.post-content-link a .post-content-link-footer .box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.post-content-link a .post-content-link-footer .box-right button {
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  color: #404040;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.post-footer {
  padding: 10px;
}
.post-footer-top {
  display: flex;
  font-size: 12px;
}
.post-footer-top .box-left {
  min-width: 100px;
}
.post-footer-top .box-left a {
  text-decoration: none;
  color: initial;
  width: 100%;
}
.post-footer-top .box-left a i {
  margin-right: 2px;
}
.post-footer-top .box-right {
  margin-left: auto;
}
.post-footer-top .box-right a {
  text-decoration: none;
  color: initial;
  margin-right: 3px;
}
.post-footer-bottom {
  border-top-color: #DDDFE2;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post-footer-bottom button {
  padding: 5px;
  max-width: 100px;
  font-size: 12px;
  color: #636363;
}
.post-footer-bottom button img {
  border-radius: 30px;
  width: 16px;
  height: 16px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 5px;
}
.post-footer-bottom button i {
  margin-right: 3px;
  color: #2e2e2e;
}
.post-footer-bottom button:hover {
  background: #F6F6F7;
  cursor: pointer;
}

.aside-right {
  width: 30%;
}
.aside-right .stories-container {
  padding: 10px;
  background: white;
  border-radius: 5px;
}
.aside-right .stories-container .stories-header {
  display: flex;
  align-items: center;
}
.aside-right .stories-container .stories-header h6 {
  font-size: 12px;
  color: #4B4F56;
}
.aside-right .stories-container .stories-header a {
  font-size: 10px;
  text-decoration: none;
  max-width: 70px;
  color: #365899;
}
.aside-right .stories-container .stories-header a i {
  margin-right: 2px;
}
.aside-right .stories-container .stories-header a:hover {
  text-decoration: underline;
}
.aside-right .stories-container .stories-header a + a::before {
  content: "-";
  font-size: 6px;
  margin: 5px;
}
.aside-right .stories-container .stories-content {
  margin-top: 10px;
}
.aside-right .stories-container .stories-content .storie + .storie {
  margin-top: 10px;
}
.aside-right .stories-container .stories-content .storie {
  text-decoration: none;
  display: flex;
  cursor: pointer;
}
.aside-right .stories-container .stories-content .storie img {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  background: url("https://yt3.ggpht.com/-2pwAciNrzgo/AAAAAAAAAAI/AAAAAAAAAAA/Ea0FoWOF-sM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg");
  background-size: cover;
  margin-right: 5px;
}
.aside-right .stories-container .stories-content .storie .box {
  font-size: 12px;
}
.aside-right .stories-container .stories-content .storie .box a {
  color: #365899;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.aside-right .stories-container .stories-content .storie .box a:hover {
  text-decoration: underline;
}
.aside-right .stories-container .stories-content .storie .box p {
  color: #5a5a5a;
}
.aside-right .stories-container .stories-content .storie.new .img-container img {
  border: 2px solid #365899;
  background: grey;
}
.aside-right .stories-container .stories-content .storie.friend-new .img-container img {
  border: 2px solid #365899;
}
.aside-right .stories-container .stories-content .show-more {
  margin-top: 10px;
}
.aside-right .stories-container .stories-content .show-more a {
  font-size: 12px;
  color: #365899;
  text-decoration: none;
}
.aside-right .stories-container .stories-content .show-more a i {
  color: #616c81;
  margin-right: 5px;
}
.aside-right .stories-container .stories-content .show-more a:hover {
  text-decoration: underline;
}

.box-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
